#editor-content {
    background: var(--p-light-body-color);
    height: 100vh;
    width: calc(100% - 256px);
    overflow-x: hidden;
    overflow-y: scroll;
    
    #p-page {
        .contenteditable {
            &:hover {
                border-bottom: 2px dashed var(--p-primary-color);
            }
            &.focus {
                background: red;
                outline: none;
            }
        }
    }
}