#editor-content {
    background: var(--p-light-body-color);
    height: 100vh;
    width: calc(100% - 256px);
    overflow-x: hidden;
    overflow-y: scroll;
    
    #p-page {
        margin: 50px auto;
        max-width: 1200px;
        background-color: var(--p-extralight-body-color); 
        box-shadow: 0 10px 30px rgba(0,0,0,0.05);
        resize: vertical;
        .contenteditable {
            border-bottom: 2px dotted transparent;
            &:hover {
                border-bottom-color: var(--p-primary-color);
            }
            &:focus {
                background: var(--p-fill-color);
                outline: none;
            }
        }
    }
}