/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tristan White
- license: MIT
- website: https://github.com/triss90/CSS-Preset
*/

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: auto;
}

*, *::after, *::before {
  box-sizing: border-box;
}

*::selection { 
	background: var(--p-primary-color);
	color: var(--p-fill-color);
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

