:root {
    --p-primary-color: #168eea;
    --p-dark-primary-color: #0c65a8;
    --p-light-primary-color: #42adff;

    --p-heading-color: #323b43;
    --p-light-heading-color: #e6e6e6;
    --p-text-color: #484848;
    --p-light-text-color: #f7f7f7;

    --p-dark-body-color: #59626a;
    --p-darker-body-color: #30373d;
    --p-light-body-color: #f2f2f2;
    --p-extralight-body-color: #ffffff;
    --p-border-color: #ced7df;
    --p-light-border-color: #eff3f6;
    --p-fill-color: #f4f7f9;

    --p-error-color: #f35858;
    --p-light-error-color: #f8d0c8;
    --p-warning-color: #ffd25f;
    --p-light-warning-color: #ffeebf;
    --p-success-color: #8dd168;
    --p-light-success-color: #d4ece6;
    --p-info-color: #65b5f1;
    --p-light-info-color: #ccebf3;
}