@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html {
    font-family: 'Open Sans', sans-serif;
    color: var(--p--text-color);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-bottom: 20px;
    line-height: 1;
    font-family: inherit;
    line-height: 1.4;
    color: var(--p-heading-color);
    font-weight: 600;
}

h1 {
    font-size: 44px;
    margin: 30px 0 20px;
}

h2 {
    font-size: 38px;
    margin: 30px 0 20px;
}

h3 {
    font-size: 32px;
    margin: 30px 0 20px;
}

h4 {
    font-size: 26px;
    margin: 30px 0 20px;
}

h5 {
    font-size: 20px;
    margin: 30px 0 20px;
}

h6 {
    font-size: 16px;
}

a {
    color: var(--p-primary-color);
    transition: color 100ms ease-in-out;
    &:hover {
        color: var(--p-dark-primary-color);
    }
}

blockquote {
    padding: 10px 10px 10px 20px;
    background: #f4f7f9;
    border-radius: 0 3px 3px 0;
    border-left: 2px solid #CED7DF;
    font-size: 20px;
    margin: 30px 0;
}

hr {
    border: 0;
    height: 1px;
    background: var(--p-border-color);
    margin: 50px 0;
}